<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/styles.css")

    <link href="~/CLEditor1_4_5/jquery.cleditor.css" rel="stylesheet" />

</head>
<body>
    <div id="banner">
        <div class="banner_inner">
            <div class="logo"> <img src="~/Content/images/logo_jobquest.png" width="185" height="100" /></div>
            <div class="banner_right">
                <div class="top_corner_menu">
                    <ul>
                        <li class="jobseeker">
                            @Html.ActionLink("Jobseeker Registration", "JobseekerReg", "Account")
                        </li>
                        <li class="employer_login">
                            @Html.ActionLink("Recruiter Registration", "RecruiterReg", "Account")
                        </li>
                        <li class="find_facebook_icon"><a href="#">Find Us on Facebook</a></li>
                        <li class="twitter_icon"><a href="#">Fallow us on Twitter</a></li>
                        <li class="rss_icon"><a href="#">Subscribe to RSS</a></li>
                    </ul>
                    <div class="clean"></div>
                </div>
                <div class="clean"></div>
                <div class="verysign_logo"><img src="~/Content/images/verysign-mastercard.jpg" /></div>
                <div class="other_add"><img src="~/Content/images/top-other-logo.jpg" /></div>
            </div>
        </div>
    </div>

    <!-- Menu-->
    <div id="menu">
        @Html.Partial("_NavigationBar")
        @Html.Partial("_LoginPartial")
    </div>

    <div id="mid_body">

        <div id="leftcol">
            <div class="like_sec">
                <div class="logo_small"><img src="~/Content/images/small-logo.jpg" width="80" height="46" /></div>
                <div class="like_text">
                    Jobouting.com on	Facebook	<img src="~/Content/images/like-icon.jpg" />
                </div>
                <div class="clean">
                </div>
                <div class="like_row"><img src="~/Content/images/facebook-icon.jpg" /> 480 likes. Signup to see what your friends like</div>

            </div>
            <div class="top_job_sec">
                <h1>Top Jobs</h1>
                <div class="job_box1">
                    <div class="left_img"><img src="~/Content/images/bajaj-logo.jpg" width="92" height="49" /></div>
                    <div class="text_sec">
                        <div class="topjob_title1">Bajaj Showroom</div>
                        Office Secretary (Female)
                    </div>
                </div>
                <div class="job_box2">
                    <div class="left_img"><img src="~/Content/images/intel-logo.jpg" width="83" height="60" /></div>
                    <div class="text_sec">
                        <div class="topjob_title1">Intel</div>
                        Office Secretary (Female)
                    </div>
                </div>
                <div class="job_box1">
                    <div class="left_img"><img src="~/Content/images/bajaj-logo.jpg" width="92" height="49" /></div>
                    <div class="text_sec">
                        <div class="topjob_title1">Bajaj Showroom</div>
                        Office Secretary (Female)
                    </div>
                </div>
                <div class="job_box2">
                    <div class="left_img"><img src="~/Content/images/intel-logo.jpg" width="83" height="60" /></div>
                    <div class="text_sec">
                        <div class="topjob_title1">Intel</div>
                        Office Secretary (Female)
                    </div>
                </div>
                <div class="job_box1">
                    <div class="left_img"><img src="~/Content/images/bajaj-logo.jpg" width="92" height="49" /></div>
                    <div class="text_sec">
                        <div class="topjob_title1">Bajaj Showroom</div>
                        Office Secretary (Female)
                    </div>
                </div>
            </div>
            <div class="top_job_sec">
                <h1>Advertisement</h1>
                <div class="left_adv_sec">
                    <img src="~/Content/images/add1.jpg" /> <img src="~/Content/images/add2.jpg" /> <img src="~/Content/images/add3.jpg" />
                    <div class="clean"></div>
                </div>
            </div>
            <div class="employer_box">
                <div class="employer_title1">Employer</div>
                <div class="login_here">Login Here</div>
                <div class="clean"></div>

                <div class="looking_hire">Looking to Hire ?</div>
                <div class="link1">Post Job | Search Resume | Buy Online | Contact Us</div>
            </div>
            <div class="jobseeker_box">
                <div class="job_seeker_title">Job Seeker</div>
                <div class="login_here">Login Here</div>
                <div class="clean"></div>
                <div class="double_text">Double your changes of getting the right job</div>
                <div class="submit_resume"><img src="~/Content/images/submit-resume.jpg" /></div>
                <div class="new_user"><a href="#">New User ?</a> <span class="reg_here"><a href="#">Register Here</a></span></div>
            </div>
            <div class="clean"></div>
        </div>
        <div id="rightcol">
            @RenderBody()
            <div class="clean"></div>
        </div>
        <div class="clean"></div>

    </div>
    <div class="clean"></div>



    <!--Footer-->
    <div id="footer">
        <div class="footer_inner">
            <div class="footer_link">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search Jobs</a></li>
                    <li><a href="#">Jobseeker Login</a></li>
                    <li><a href="#">Employer Login </a></li>
                    <li> <a href="#">Feedback</a></li>
                    <li><a href="#">Report a Problem</a></li>
                </ul>
            </div>
            <div class="footer_link">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search Jobs</a></li>
                    <li><a href="#">Jobseeker Login</a></li>
                    <li><a href="#">Employer Login </a></li>
                    <li> <a href="#">Feedback</a></li>
                    <li><a href="#">Report a Problem</a></li>
                </ul>
            </div>
            <div class="support_sec">
                <b>SUPPORT / HELP</b>
                <p>246/10, Ambika Marg, Baneshwor, Kathmandu, Nepal.	      </p>
                <p> P.O Box: 13845, Email: info@merojob.com		    </p>
                <p>Phone No: +977-1-000000, +977-1-400000 </p>
            </div>
            <div class="clean"></div>
            <div class="copyright">Copyright © 2011 www.companyname all rights reserve. (Best view in Internet Explorer 6.0 or above at 1024 by 768 pixels) </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/CLEditor1_4_5/jquery.cleditor.js"></script>
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
